*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}


.raul {
    color: rgb(15, 15, 124);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;

}
.iqbal
{
    font-weight: 500;
    margin-left: -4px;
    font-size: 25px;
    color: rgb(22, 22, 187);
 }

    
    
    .navbar{
        width: 1200px;
        height: 75px;
        margin: auto;
        margin-top: 10px;
    }
    
    .icon{
        width: 200px;
        float: left;
        margin-top: 30px;
       
    }
 
    
    .menu{
        width: 900px;
        float: right;
        height: 70px;
        display: flex;
    }
    
    ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }
    
    ul li{
        list-style: none;
        margin-left: 50px;
        margin-top: 15px;
        font-size: 19px;
        color: black;
        letter-spacing: 1.5px;
    }
    
    ul  {
        text-decoration: none; font-family: Arial;
        margin-left: 390px;
        color: black;
    }
         
     li{
     color: black;
     font-weight: 500;
     letter-spacing: 1px;
    }
 .btn{
        width: 140px;
        height: 45px;
        background: rgb(109, 138, 235);
        color: white;
        margin-left :80px;
        border-radius: 8px ;
        margin-top: 10px;
        font-size: 17px;
        padding-top: 1px;
        font-weight: bold ;
        letter-spacing: 1.5px;
        border-color: transparent;
    }
    .gray{
        width: 130px;
        height :55px;
        color: rgb(190, 190, 190);
        border: 10px;
        background-color: rgb(231, 227, 227);
        margin-top: 13px; 
    }
    .content-main{
        display: flex;
        margin-top: 100px;
        margin-left: 150px;
    }
    .hi{
        color:rgb(12, 12, 100);
        font-size: 25px;
        font-weight: 100;
        font-family: Arial;
        letter-spacing: 1px;
    }
    .name 
    
    { 
        color: rgb(12, 12, 100);
        margin-top: 12px;
        font-weight: 2500;
        letter-spacing: 1px;
        word-spacing: 1px;
        
    }
    .skill{
        color: rgb(12, 12, 100);
        font-weight: 2500;
        letter-spacing: 1px;
        word-spacing: 1px;
        margin-top: -7px;
    }
    .content2{
        margin-top: 35px;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    .img1{
        width: 350px;
        margin-left: 250px;
        margin-top: -50px;
    }
    .content3{
        margin-top: 80px;
        justify-content: center;
        margin-left: 670px;
        color: rgb(12, 12, 100);

    }
    .additional{
        font-weight:100 ;
        color: rgb(43, 78, 194);
        letter-spacing: 1.3px;

    }
   .passion {
    font-weight:750;
    color: rgb(25, 25, 102);
   }
   .f{
    display: flex; 
    margin-top: 100px;
    margin-left: 310px;
   }
   .developer, .designer{
    font-weight:100;

   }
   .set2 , .set1 , .set3{
    word-spacing: 1px;
    letter-spacing: 1px;
    box-shadow: 1px 1px 18px gray;
    width: 260px;
    border-radius: 10px 10px 10px 10px;
  
    
   }
   .set2{
    margin-left: 90px;
    margin-right: 90px;
   }
   .img2, .img3, .img4 {
    width: 100px;
    height: 160px;
    padding-top: 10px;
    padding-left: 15px;
   }   
   .data2{
    padding-left: 13px;
    padding-bottom: 10px;
   }

   
.data2
{
   padding-left: 18px;
}
.data1   {
    padding-left:20px
}
.data3{
    padding-left: 25px;
}
.saas ,.saas2 ,.Figma{
    margin-top: 4px;
}
.front2{
    padding-left: 10px;
}
.front3{
    padding-left: 20px;


}
.my
{
    
        font-weight:100 ;
        color: rgb(43, 78, 194);
        letter-spacing: 1.3px;

    }
   .portfolio {
    font-weight:750;
    color: rgb(25, 25, 102);
    padding-left: 10px;
}
.content4{
    padding-left: 720px;
   margin-top: 100px;
}
.content5{
    display:flex

}
.content5{
    margin-top: 70px;
    justify-content: center;
    
}
.github, .Instagram{
    margin-top: 13px;
    padding-left: 12px;
    font-weight: 100;
    letter-spacing: 2px;
}
.Email, .Telp{
    padding-left: 47px;
    font-weight: 100;
    letter-spacing: 2px;
}

